body {
    text-align: center;
}

h1, p, div {
    color: #6dc069;
}

h1 {
    font-size: 50px;
}

#title {
    margin-top: 8%;
}

#feelingTitle{
    margin-top: 5%;
}

#spreuk {
    font-weight: bold;
    font-size: xx-large;
}

#holder {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#perfect:hover {
    content: url(../media/perfect-pushed.png);
}

#ok:hover {
    content: url(../media/ok-pushed.png);
}

#niet-ok:hover {
    content: url(../media/nietOk-pushed.png);
}

a {
    text-decoration: none;
}

img {
    width: 20%;
}

#refresh p {
    display: inline;
}

